**/node_modules/
**/.env
**/iconos/
**/imagenes-movielens/
**/imagenes-lastfm/
/.cache
/.config
/.local
/.m2
/.npm
/.pool
/.ssh
/.vscode-server
/recomendaciones
/java
/eclipse-workspace
/db
.bash_history
.bash_logout
.bashrc
.lesshst
.profile
.sudo_as_admin_successful
.viminfo
.wget-hsts
group-movielens.properties
group-movielensCopy.properties
instalar_docker.sh
/.nvm
/.dotnet
/.nvm
/data